.listSection {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.listTitle {
  font-size: 30px;
  color: rgb(223, 246, 245);
}
.list {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
}

